<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>CLIENT_ID</key>
	<string>1007522942134-hquc9v6499rjejic6k25g228dib555tg.apps.googleusercontent.com</string>
	<key>REVERSED_CLIENT_ID</key>
	<string>com.googleusercontent.apps.1007522942134-hquc9v6499rjejic6k25g228dib555tg</string>
	<key>ANDROID_CLIENT_ID</key>
	<string>1007522942134-5ua51r4hnfe59led0rp499tqr8ldepnm.apps.googleusercontent.com</string>
	<key>API_KEY</key>
	<string>AIzaSyA2Jo8plSgm5G2F27I-B8VzvuKzTWIiXyY</string>
	<key>GCM_SENDER_ID</key>
	<string>1007522942134</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>com.flutterflow.sportstrivia</string>
	<key>PROJECT_ID</key>
	<string>sports-trivia-3d4e4</string>
	<key>STORAGE_BUCKET</key>
	<string>sports-trivia-3d4e4.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:1007522942134:ios:0ce77115b945744c9b6a17</string>
</dict>
</plist>